@model Restaurant.Models.Admin;
@section Scripts
{
    <script src="@Url.Content("~/js/skip-header.js")"></script>
}
<form method="post" class="mx-5 pb-5 text-secondary" asp-action="Login">
    <div class="border-bottom container p-3 mx-auto pb-5">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h3 class="text-info pl-5">Admin Panel</h3>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-3 text-center">
                        <label asp-for="Username"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3 text-center">
                        <label asp-for="Password"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-9 offset-3 row">
                        <div class="col">
                            <input type="submit" class="btn btn-success w-100" value="LogIn" />
                        </div>
                        <div class="col">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-info w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>