@model IEnumerable<Restaurant.Models.Review>
@{
    ViewData["Title"] = "Home Page";
}

<div class="mx-5 mt-2 p-5">
    <section id="introduction" class="container-fluid">
        <div class="row align-items-center mb-5">
            <div class="col-xs-4 col-lg-4 mw-25">
                <img src="img/1.jpeg" alt="" min class="img-fluid">
            </div>
            <div class="col-xs-8 col-lg-8 p-5">
                <h3 class="text-center text-secondary mb-5">Our Restaurant</h3>
                <p class="text-secondary">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
                    incidunt perferendis vitae harum repellat odio repellendus id expedita excepturi, sapiente
                    molestias perspiciatis ratione at nobis rerum sunt voluptatibus accusantium consequuntur!
                </p>
                <p class="text-secondary">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                    cupiditate ullam, aut nam dicta soluta provident aperiam ipsa esse harum nostrum velit nemo
                    voluptate beatae, nisi totam a sequi. Laborum?
                    Eos amet expedita quae suscipit dolorem autem itaque beatae eius esse perspiciatis odio
                    exercitationem rerum, natus vel tenetur incidunt a inventore ut saepe asperiores commodi,
                    hic sit? Maiores, optio est.
                    Ducimus dolor asperiores distinctio aliquid excepturi laudantium blanditiis quibusdam dicta
                    perspiciatis quaerat necessitatibus, voluptates aspernatur inventore dolores atque facere
                    veniam debitis minus laborum fugit pariatur est facilis voluptatibus tempora. Illum!
                    Necessitatibus aliquid ab eveniet repudiandae nam accusamus, atque optio dolore odio
                    voluptate beatae quia fugiat quisquam earum, dolor illum laborum iure nemo placeat enim rem.
                    Dolores nihil sint doloribus quaerat!
                    Totam, necessitatibus dolorem. Voluptas veritatis temporibus quae expedita suscipit nesciunt
                    quia, et earum. Natus tempore mollitia rerum esse. Voluptas debitis explicabo facere nam
                    culpa ab facilis totam! Ea, at dolorum?
                    Voluptates possimus blanditiis earum vero, accusantium aliquid ea, sapiente repellat
                    reiciendis et rerum laboriosam omnis alias necessitatibus quos numquam animi perspiciatis,
                    aperiam totam impedit quaerat eum illum qui! Molestias, laudantium.
                    Ducimus obcaecati voluptatibus nam autem expedita atque accusantium sapiente iste, commodi
                    tempore magnam eligendi repudiandae modi reprehenderit, dignissimos doloremque porro. Ipsum
                    quam necessitatibus accusantium voluptatum architecto odit saepe, distinctio debitis?
                    Eveniet blanditiis possimus temporibus voluptatum rem perspiciatis repellat quibusdam
                    inventore harum, nam assumenda! Doloribus nam maiores culpa maxime impedit? Aperiam fugiat
                    tempore minus, ipsam distinctio corrupti voluptatem animi a id?
                    Corporis consectetur quaerat, a enim esse quis nisi odio reiciendis ad aliquam, officiis
                    neque deleniti qui voluptates doloribus quas eveniet illo? Consectetur numquam ad dolor
                    illum molestias voluptatibus fuga velit.
                    Nesciunt voluptates saepe soluta ullam. Ea molestias nesciunt animi, perspiciatis
                    consequuntur rem maxime illum quia. Beatae fugit exercitationem tempora quod veniam. Non aut
                    quas temporibus ullam doloribus corrupti consequuntur officiis.
                </p>
                <p class="text-secondary">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui
                    reprehenderit quod eius reiciendis sequi laboriosam? Dolorum obcaecati quae suscipit,
                    consequuntur dolor recusandae magni necessitatibus magnam accusantium atque laboriosam
                    dolorem! quas temporibus ullam doloribus corrupti consequuntur officiis.
                </p>
            </div>
        </div>
    </section>
    <hr>
    <section id="food" class="container-fluid">
        <div class="row mt-5 align-items-center mb-5">
            <div class="col-xs-6 col-lg-6">
                <h3 class="text-center text-secondary mb-5">
                    <u>Our Food</u>
                </h3>
                <p class="text-secondary">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,
                    eveniet, molestiae illum error inventore et alias earum quae quos voluptate voluptas facilis
                    necessitatibus modi, exercitationem perspiciatis ea nostrum explicabo tempora!
                    Aliquam mollitia libero esse, architecto laudantium molestiae fugit nostrum amet adipisci
                    deleniti itaque fuga repellendus corporis eius consequatur nobis aliquid dignissimos!
                    Placeat deserunt praesentium quasi repellendus vel deleniti, quo excepturi.
                    Quia commodi perspiciatis excepturi suscipit deserunt quis vero, vitae possimus quidem ab
                    quae rem ea placeat saepe id! Accusamus aut quisquam repellat ratione fuga impedit itaque
                    modi, voluptatibus reprehenderit atque? Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Quia nobis saepe animi accusantium accusamus, eveniet earum amet fugit totam est?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, aperiam. Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Dolore sequi accusamus omnis consectetur vitae ad,
                    impedit similique a beatae eos aliquam neque. Aperiam, officia unde repellendus quas libero
                    officiis dolore?
                </p>
            </div>
            <div class="col-xs-6 col-lg-6">
                <img src="img/2.jpeg" alt="" class="img-fluid" width="800">
            </div>
        </div>
    </section>
    <hr>
    <section id="bar">
        <div class="row mt-5 align-items-center mb-5">
            <div class="col-xs-6 col-lg-6">
                <img src="img/3.jpg" alt="" class="img-fluid" width="800">
            </div>
            <div class="col-xs-6 col-lg-6">
                <h3 class="text-center text-secondary mb-5">
                    <u>The Bar</u>
                </h3>
                <p class="text-secondary">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,
                    eveniet, molestiae illum error inventore et alias earum quae quos voluptate voluptas facilis
                    necessitatibus modi, exercitationem perspiciatis ea nostrum explicabo tempora!
                    Aliquam mollitia libero esse, architecto laudantium molestiae fugit nostrum amet adipisci
                    deleniti itaque fuga repellendus corporis eius consequatur nobis aliquid dignissimos!
                    Placeat deserunt praesentium quasi repellendus vel deleniti, quo excepturi.
                    Quia commodi perspiciatis excepturi suscipit deserunt quis vero, vitae possimus quidem ab
                    quae rem ea placeat saepe id! Accusamus aut quisquam repellat ratione fuga impedit itaque
                    modi, voluptatibus reprehenderit atque? Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Quia nobis saepe animi accusantium accusamus, eveniet earum amet fugit totam est?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, aperiam. Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Dolore sequi accusamus omnis consectetur vitae ad,
                    impedit similique a beatae eos aliquam neque. Aperiam, officia unde repellendus quas libero
                    officiis dolore?
                </p>
            </div>
        </div>
    </section>
    <hr>
    <section id="reviews container-fluid">
        <div class="row align-items-center mt-5">
            <div class="col">
                <h3 class="text-secondary text-center mb-5">Our Customers' Opinions</h3>
                <p class="text-secondary text-center">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate aut labore at dolorem atque eaque molestias eveniet vero maiores, maxime officiis natus provident, facere voluptates delectus quae et, deleniti nesciunt.
                    Voluptatem laborum amet sapiente nesciunt adipisci, quos harum optio architecto itaque modi eaque dolorem officia sint, eius, iure ad magni nisi animi. Facilis suscipit iusto dolores fugiat, quae officia corporis.
                    Expedita accusamus ullam suscipit, eos dolorem non numquam debitis distinctio tempora iure voluptatem aut tenetur magnam quisquam modi dolor nulla, soluta perferendis? Quaerat debitis dolorem vel odit modi beatae quibusdam.
                    Veniam ad architecto reiciendis libero? Maiores cupiditate placeat necessitatibus corporis facilis modi, repellendus ut omnis. Minus laudantium, debitis sint impedit dolorem deleniti vitae nesciunt ab doloremque esse deserunt nulla ratione.
                    Temporibus deserunt amet voluptas corrupti quos. Voluptatem, magni. Accusantium consequuntur veniam dolores autem! Aspernatur quis temporibus facilis magni illum officia quo maiores a ipsam quas! Maxime officia at voluptate veritatis.
                </p>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col-xs-6 col-lg-6 text p-5">
                <div class="row">
                    <h4 class="mx-auto text-secondary"><u>Latest reviews:</u></h4>
                </div>
                @* Review *@
                @if (Model.Count() > 0)
                {
                    @foreach (var obj in Model)
                    {
                        <div class="row">
                            <div class="col text-left text-dark font-big">@obj.Name</div>
                            <div class="col-2 text-right text-info">@obj.Date</div>
                        </div>
                        <div class="row">
                            <div class="col text-secondary font-medium">
                                @obj.Comment
                            </div>
                        </div>
                        <hr />
                    }
                }
                else 
                {
                    <div class="text-center text-secondary p-5"> No review was found. </div>
                }





                <div class="row text-center">
                    <div class="col">
                        <a class="btn btn-block btn-success" asp-area="" asp-controller="Reviews" asp-action="Index">See more reviews</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-block btn-info" asp-area="" asp-controller="Reviews" asp-action="Create">Write a review</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-6">
                <img src="../img/4.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </section>
</div>

