@section Scripts
{
    <script src="@Url.Content("~/js/skip-header.js")"></script>
}

<div class="mx-5 p-5 pt-0">
    <div class="container-fluid">
        <div class="row mx-5 align-items-center">
            <div class="col-xs-6 col-lg-6 p-5">
                <img src="../img/7.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-xs-6 col-lg-6 text-secondary text-right p-5">
                <h3 class="text-center">
                    CHINESE MENU
                </h3>
                <p><strong>Item #1</strong></p>
                <p>
                    <small>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus inventore atque
                        quasi corporis eum! Veniam ratione distinctio, qui ex dolorem quas deleniti beatae ullam
                        voluptas tenetur voluptate officia aut animi?
                    </small>
                </p>
                <p><strong>Item #2</strong></p>
                <p>
                    <small>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo corrupti veritatis ea
                        tenetur quae consectetur debitis ad necessitatibus obcaecati. Quisquam necessitatibus
                        ipsum consectetur repudiandae veniam voluptatem? Sit tempora exercitationem
                        tenetur!
                    </small>
                </p>
                <p><strong>Item #3</strong></p>
                <p>
                    <small>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus inventore atque
                        quasi corporis eum! Veniam ratione distinctio, qui ex dolorem quas deleniti beatae ullam
                        voluptas tenetur voluptate officia aut animi?
                    </small>
                </p>
                <p><strong>Item #4</strong></p>
                <p>
                    <small>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus inventore atque
                        quasi corporis eum! Veniam ratione distinctio, qui ex dolorem quas deleniti beatae ullam
                        voluptas tenetur voluptate officia aut animi?
                    </small>
                </p>
                <p><strong>Item #5</strong></p>
                <p>
                    <small>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus inventore atque
                        quasi corporis eum! Veniam ratione distinctio, qui ex dolorem quas deleniti beatae ullam
                        voluptas tenetur voluptate officia aut animi?
                    </small>
                </p>
                <p><strong>Item #6</strong></p>
                <p>
                    <small>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus inventore atque
                        quasi corporis eum! Veniam ratione distinctio, qui ex dolorem quas deleniti beatae ullam
                        voluptas tenetur voluptate officia aut animi?
                    </small>
                </p>
                <p><strong>Item #4</strong></p>
                <p>
                    <small>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus inventore atque
                        quasi corporis eum! Veniam ratione distinctio, qui ex dolorem quas deleniti beatae ullam
                        voluptas tenetur voluptate officia aut animi?
                    </small>
                </p>
            </div>
        </div>
        <hr>
        <div class="row m-5 align-items-center">
            <div class="col-xs-6 col-lg-6 text-secondary p-5">
                <h3 class="text-center text-secondary">
                    STEAKHOUSE MENU
                </h3>
                <p><strong>Item #1</strong></p>
                <p>
                    <small>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus inventore atque
                        quasi corporis eum! Veniam ratione distinctio, qui ex dolorem quas deleniti beatae ullam
                        voluptas tenetur voluptate officia aut animi?
                    </small>
                </p>
                <p><strong>Item #2</strong></p>
                <p>
                    <small>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo corrupti veritatis ea
                        tenetur quae consectetur debitis ad necessitatibus obcaecati. Quisquam necessitatibus
                        ipsum consectetur repudiandae veniam voluptatem? Sit tempora exercitationem
                        tenetur!
                    </small>
                </p>
                <p><strong>Item #3</strong></p>
                <p>
                    <small>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo corrupti veritatis ea
                        tenetur quae consectetur debitis ad necessitatibus obcaecati. Quisquam necessitatibus
                        ipsum consectetur repudiandae veniam voluptatem? Sit tempora exercitationem
                        tenetur!
                    </small>
                </p>
                <p><strong>Item #4</strong></p>
                <p>
                    <small>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus inventore atque
                        quasi corporis eum! Veniam ratione distinctio, qui ex dolorem quas deleniti beatae ullam
                        voluptas tenetur voluptate officia aut animi?
                    </small>
                </p>

            </div>
            <div class="col-xs-6 col-lg-6 p-5">
                <img src="../img/8.jpeg" alt="" class="img-fluid">
            </div>
        </div>
        <hr>
        <div class="row m-5 align-items-center">
            <div class="col-xs-6 col-lg-6 p-5">
                <img src="../img/9.jpeg" alt="" class="img-fluid">
            </div>
            <div class="col-xs-6 col-lg-6 text-secondary text-right p-5">
                <h3 class="text-center text-secondary">
                    EUROPEAN MENU
                </h3>
                <p><strong>Item #1</strong></p>
                <p>
                    <small>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus inventore atque
                        quasi corporis eum! Veniam ratione distinctio, qui ex dolorem quas deleniti beatae ullam
                        voluptas tenetur voluptate officia aut animi?
                    </small>
                </p>
                <p><strong>Item #2</strong></p>
                <p>
                    <small>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo corrupti veritatis ea
                        tenetur quae consectetur debitis ad necessitatibus obcaecati. Quisquam necessitatibus
                        ipsum consectetur repudiandae veniam voluptatem? Sit tempora exercitationem
                        tenetur!
                    </small>
                </p>
                <p><strong>Item #3</strong></p>
                <p>
                    <small>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo corrupti veritatis ea
                        tenetur quae consectetur debitis ad necessitatibus obcaecati. Quisquam necessitatibus
                        ipsum consectetur repudiandae veniam voluptatem? Sit tempora exercitationem
                        tenetur!
                    </small>
                </p>
                <p><strong>Item #4</strong></p>
                <p>
                    <small>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus inventore atque
                        quasi corporis eum! Veniam ratione distinctio, qui ex dolorem quas deleniti beatae ullam
                        voluptas tenetur voluptate officia aut animi?
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
